@media screen and (max-width: 427px) {
  .mobil-adress-item:first-child .mobil-adress-link {
    font-size: 26px;
  }

  .mobil-social-list {
    gap: 26px;
  }

  .modal-request-text {
    font-size: 12px;
  }

  .confirm-check-label {
    font-size: 9px;
  }

  .policy-link {
    font-size: 9px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
/*------HEADER------*/
  .header-container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .header-menu-btn {
    display: none;
  }

  .header-logo {
    margin-right: 120px;
  }

  .header-menu {
    display: flex;
    gap: 40px;
  }
  
  .header-menu-link {
    display: block;
    padding: 24px 0;
    color: var(--navy-blue);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-menu-link:hover,
  .header-menu-link:focus {
    color: var(--ocean-color);
  }
  
  .current {
    position: relative;
    color: var(--ocean-color);
  }
  
  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--ocean-color);
    border-radius: 2px;
  }

  .header-adress {
    display: flex;
    align-items: center;
    font-style: normal;
  }
  
  .header-adress-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }
  
  .header-adress-link {
    display: block;
    color: var(--slate-color);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .header-adress-link:hover,
  .header-adress-link:focus {
    color: var(--ocean-color);
  }
/*------HERO------*/
  .hero {
    padding: 188px 0;
    background-image: linear-gradient(to bottom, var(--background-grey), var(--background-grey)),
      url(../images/tablet-hero-bg.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(to bottom, var(--background-grey), var(--background-grey)), url(../images/tablet-hero-bg@2x.jpg)
    }
  }

  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }

/*------FEATURES------*/
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    justify-content: center;
  }

  .feature-item {
    width: calc((100% - 24px) / 2);
  }

/*------TEAM------*/
  .team-list {
    flex-direction: row;
    column-gap: 24px;
    row-gap: 64px;
    justify-content: center;
  }

/*------CUSTOMERS------*/
  .customers-list {
    justify-content: center;
    column-gap: 24px;
  }

  .customers-item {
    max-width: 168px;
  }

/*------FOOTER------*/
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    padding-left: 108px;
  }

  .footer-logo {
    display: inline-block;
  }

  .footer-logo-block {
    margin-bottom: 0;
    margin-right: 24px;
  }

  .footer-block-name {
    text-align: start;
  }

  .call-text {
    max-width: 264px;
  }

  .subscription-form-input {
    width: 264px;
  }

  .subscription-form {
    flex-direction: row;
    gap: 24px;
  }
}



@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
/*------HEADER------*/
  .header-logo {
    margin-right: 76px;
  }

  .header-adress {
    display: block;
  }

  .header-adress-list {
    flex-direction: row;
    gap: 40px;
  }

  .header-adress-link {
    font-size: 16px;
    line-height: 1.5;
    padding: 24px 0;
  }
/*------HERO------*/
  .hero {
    background-image: linear-gradient(to bottom, var(--background-grey), var(--background-grey)),
        url(../images/descktop-hero-bg.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(to bottom, var(--background-grey), var(--background-grey)), url(../images/descktop-hero-bg-2x.jpg)
    }
  }
/*------ACTIVITY------*/
    .activity {
      padding-bottom: 120px;
    }
  
    .activity-title {
      margin-bottom: 72px;
    }
  
    .activity-list {
      display: flex;
      gap: 24px;
    }

/*------FEATURES------*/
  .features {
    padding: 120px 0;
  }

  .feature-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    background-color: var(--cloud-color);
    margin-bottom: 8px;
    border-radius: 4px;
  }

  .feature-item {
    width: calc((100% - 72px) / 4);
  }

  .subtitle {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
  }

/*------TEAM------*/
  .team {
    padding: 120px 0;
  }

/*------CUSTOMERS------*/
  .customers {
    padding: 120px 0;
  }

  .customers-item {
    width: calc((100% - 24px*5) / 6);
  }

/*------FOOTER------*/
  .page-footer {
    padding: 100px 0;
  }

  .footer-logo {
    margin-bottom: 16px;
  }

  .footer-logo-block {
    margin-right: 120px;
  }

  .footer-social {
    margin-right: 80px;
  }

  .subscription-block {
    flex-grow: 1;
  }
}